.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.type {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  font: white;
  font-size: large;
}

.my-btn {
  border: none;
  width: 200px;
  height: 60px;
  color: black;
  border-radius: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 600;
  transition: transform 0.3s;
}

.my-btn:hover {
  transform: scale(1.1);
}

.width-row {
  width: 75%;
  transition: transform 0.3s
}

.width-row:hover {
  transform: scale(1.05)
}

@media screen and (max-width: 767px) {
  .content {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none;
  }

  .width-row {
    width: 100%;
  }
}
